<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CROHME Visualize</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.17/dist/tailwind.min.css" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>

<body>
  <!-- Navigation bar -->
  <nav class="flex items-center justify-between bg-white shadow-sm px-6 py-4">
    <div class="text-lg font-bold text-gray-800">CROHME Visualize</div>
    <div class="flex items-center">
      <a href="#" class="text-gray-600 hover:text-gray-800 font-medium mr-4">Contact</a>
    </div>
  </nav>
  <!-- <div>
    Here's an example LaTeX math formula: \( \sin^2x\leq1  \)
  </div> -->
  <!-- Main section -->
  <main class="container mx-auto mt-8">

    <ul class="border rounded-lg overflow-hidden" id="list">
      <!-- <li class="border-b py-4 px-6 flex items-center">
        <div class="w-16 h-16 mr-6 bg-gray-300"></div>
        <div class="flex-1">
          <div class="text-lg font-medium text-gray-800">File 1 Name</div>
          <div class="text-gray-600">File 1 Description</div>
        </div>
      </li>
      -->
    </ul>
  </main>

  <script>
    // MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        processEscapes: true
      }
    });
    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    });

    folderImg = params.path.split("/").pop().split(".")[0] + "/";
    console.log(folderImg)
    function renderList(data) {
      for (i = 0; i < data.length; i++) {
        // let template = `
        //     <div class="w-80 h-80 mr-6 bg-gray-300">
        //         <div class="text-lg font-medium text-gray-800">${data[i][0]}</div>
        //         <img src="${folderImg + data[i][0]}" class="w-full h-full object-cover">
        //     </div>
        //     <div class="flex-1 flex flex-col justify-center">
        //       <div class="text-gray-600"> <p  class="tex">$$ ${data[i][1]} $$</p></div>
        //     </div>
        // `
        let template = `
        <figure class="image-box w-80 h-80 mr-6 bg-gray-300">
          <figcaption class="image-caption text-lg font-medium text-gray-800">${data[i][0]}</figcaption>
          <img src="${folderImg + data[i][0]}" alt="${data[i][0]}" class="w-full h-full object-cover">
        </figure>
        <div class="content-box flex-1 flex flex-col justify-center">
          <div class="text-gray-600"><p class="equation">$$ ${data[i][1]} $$</p></div>
        </div>
        `
        const node = document.createElement("li");
        const textnode = document.createTextNode(template);
        node.innerHTML = template;
        node.className = "border-b py-4 px-6 flex items-center"
        let newList = document.getElementById("list")
        newList.appendChild(node)
      }

    }

    fetch(`/list?path=${params.path}&start=${params.start}&end=${params.end}`)
      .then((response) => response.json())
      .then((data) => renderList(data));
  </script>


</body>

</html>